body {
  margin: 0;
  padding: 0;
  max-width: 33.33%;
  background: #00AAFF;
}

h1,h2  {
  color: #34495E;
}

.white {
  color: white;
}

.gray {
  color: rgba(199, 189, 189, .7);
}

.right {
  text-align: right;
}

.italic {
  font-style: italic;
}

#quote {
  font-size: 1.2rem;
  text-align: right;
}

#pages {
  color: rgba(199, 189, 189, .5);
  font-size: 1.1rem;
  text-align: right;
}

.content {
  color: rgba(199, 189, 189, .9);
  font-size: 1.1rem;
}

.main, .stuff {
  margin: 10px;
  padding: 20px;
  background: rgba(34, 35, 40, 1);
  border-radius: 5%;
}