body {
  margin: 0; /* Устанавливает величину отступа от каждого края элемента. Отступом является пространство от границы текущего элемента до внутренней границы его родительского элемента https://webref.ru/css/margin */
  padding: 0; /* Устанавливает значение полей вокруг содержимого элемента. Полем называется расстояние от внутреннего края рамки элемента до воображаемого прямоугольника, ограничивающего его содержимое https://webref.ru/css/padding */
  max-width: 50%; /* макс. ширина */
  background: #00AAFF; /* цвет фона для всего body */
}

h1,h2  {
  color: #34495E;
}

.white {
  color: white;
}

.gray {
  /* color: gray; */
  color: rgba(199, 189, 189, 0.7); /* Единица цвета rgba() — это rgb(), к которому мы добавляем значение альфа (в диапазоне от 0 до 1 в десятичном значении), она определяет прозрачность цвета https://webref.ru/course/css-basics/color */
}

.right {
  text-align: right;
}

.italic {
  font-style: italic;
}
/* # это указатель на id, а . на class */
#quote {
  font-size: 1.2rem;
  text-align: right;
}

#pages {
  color: rgba(199, 189, 189, .5);
  /*Единица rem соответствует значению свойства font-size
   корневого элемента <html>. Если rem добавляется
   непосредственно к font-size для <html> или стиль для
   <html> не задан, тогда 1rem принимается равным исходному
   значению font-size. В браузерах по умолчанию 1rem = 16px.*/
  font-size: 1.1rem;
  text-align: right;
}

.content {
  color: rgba(199, 189, 189, .9);
  font-size: 1.1rem;
}
/*так делать не надо, сразу на обе секции один код Потом если захотите поменят цвет первой секции, к примеру, всеравно придеться разнести на два CSS */
.main, .stuff {
  margin: 10px; 
  padding: 20px;
  background: rgba(34, 35, 40, 1);
  border-radius: 1%;
}
/* Table */

#zp_table {
  color: #00AAFF;

}

#zp_table td,th{
  border: solid .1px;
  border-color:green;
  text-align: left;
}
.th-sm {
  background-color: gray;
  color: black;
}